.search-bar input {
  width: 300px;
  padding: 3px;
  border: 1px solid #000;
}
.search-bar button {
  padding: 2px 20px;
  border: 1px solid #000;
  border-left: 0;
  cursor: pointer;
}

.song-list p {
  margin: 3px 0;
}
.song-list .song {
  padding: 10px 0;
  border-bottom: 1px dashed #CCC;
}
.song-list .song .title {
  font-weight: bold;
}
.song-list .song .artist {
  color: #999;
  font-size: 12px;
}
.song-list .song .listen {
  color: #F00;
  font-size: 12px;
}
.song-list .song .listen:before {
  content: "-";
  margin: 0 10px;
}
